/* body {
    background-image: url("./landing.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.tap {
    
}

.landingPage {
    color: #B69E3C;
}

.landingPage h1 {
    font-size: 5vw;
    /* margin-top: 5vw; */
}
.landingPage h3 {
    font-size: 3vw;
    width: 80vw;
    margin: 10px auto;
}
.landingPage img {
    /* height: 30vh; */
    width: 20vw;
}