body {
    background-image: url("./landing.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landingPage {
    color: #B69E3C;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000; 
}

.landingPage h1 {
    font-size: 5vw;
    margin-top: 10vw;
}
.landingPage h3 {
    font-size: 3vw;
    width: 80vw;
    margin: 10px auto;
}