.aboutUs {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}
.aboutUs-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin: 0 5%;
}
.aboutUs-img  .pic {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.aboutUs-img  .paragraph {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}
.aboutUs h1 {
    color: #B69E3C;
}
.paragraph {
    margin: 0 5%;
    text-align: left;
    color: #63B6A2;
    font-size: 18px;
}
.teamMember {
    text-align: center;
    font-size: 18px;
    color: #B69E3C;
}
.memberInfo {
    font-size: 18px;
    color: #63B6A2;
}