.QRCodeFormContainer {
    /* background: rgb(0,0,0,0.25); */
    width: 400px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    text-align: left;
}

.QRCodeFormContainer h1 {
    text-align: center;
}
.QRCodeFormContainer input {
    width: 240px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid aquamarine;
}
.QRCodeFormContainer label {
    padding: 0 15px;
    display: inline-block;
    width: 90px;
    color: dimgrey;
    font-size: 14px;
}
.tapInputRow {
    width: 100%;
    align-content: center;

}

.QRCodeFormContainer input[type='submit'] {
    width: 100%;
    background: cornflowerblue;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    color: #fff;
    font-weight: bold;
}
.QRCodeFormContainer textarea {
    width: 238px;
    height: 75px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid aquamarine;
}