#navbar {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(181, 228, 228);
    justify-content: flex-end;
    position: fixed;
    margin-bottom: auto;
    top: 0px;
    z-index: 1;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.buttonNavbar {
    background-color: rgb(181, 228, 228);
    color: #B69E3C;
    width: 150px;
    height: 70px;
    font-size: 1.7em;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    outline: none;
}

.buttonNavbar:hover {
    background-color: rgb(193, 248, 248);
    transition: 0.3s;
}

#settingsBtn {
    color: rgb(121, 118, 109);
}
#settingsBtn:hover {
    background-color:  rgb(182, 202, 202);
    color: rgb(121, 118, 109);
}

.TAPLogo {
    position: absolute;
    left: 46%; 
    margin: 10px 0px;
    background-color: rgb(181, 228, 228);
    height: 50px;
}

@media only screen and (max-width: 700px) {
    .TAPLogo {
        width: 120px;
        left: 1%;
    }
    .links {
        display: flex;
        justify-content: space-between
    }
    .buttonNavbar {
        width: 100px;
        height: 70px;
        font-size: 1.2em;
    }
}