.slick-slider {
    margin: 0px 100px;  
}

.slick-slide img {
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
}

.slick-prev:before, .slick-next:before {
    color: #63B6A2;
    font-size: 30px;
}

.carouselheading {
    color: #B69E3C;
}

.slick-previous {
    
}
.slick-next {
    
}