.qrMainContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(46, 160, 160, 0);
    
}

#qrIcon {
    width: 400px;
    height: auto;
}

.card {
    display: inline-block;
    background-color: white;
    padding: 0px;
    margin: 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerTitle {
    padding: 2px 16px;
    background-color: #B5E4E4;
}

.qrImage {
    width:75%
}

@media only screen and (max-width: 700px) {
  #qrIcon{
      width: 150px;
      height: auto;
  }
}

