.footer {
    height: 70px;
    margin-top: auto;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(181, 228, 228);
    width: 100%;
    justify-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    align-items: center;
}
#tcLong {
    display: inline-block;
}
#tcShort {
    display: none;
}
.buttonFooter {
    background-color: rgb(181, 228, 228);
    color: #63B6A2;
    width: 200px;
    height: 70px;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    outline: none;
}
.buttonFooter:hover {
    background-color: rgb(193, 248, 248);
    transition: 0.3s;
}

@media only screen and (max-width: 700px) {
  
    .buttonFooter {
        background-color: rgb(181, 228, 228);
        color: #63B6A2;
        width: 100px;
        height: 50px;
        font-size: 1.2em;
        font-family: 'Bebas Neue', cursive;
        border-style: none;
        outline: none;
    }
    .buttonFooter:hover {
        background-color: rgb(193, 248, 248);
        transition: 0.3s;
    }
    #tcLong {
        display: none;
    }
    #tcShort {
        display: inline-block;
    }
}

