.footerLoggedOut {
    margin-top: auto;
    bottom: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(181, 228, 228, 0.596);
    width: 100%;
    justify-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
  }
.buttonFooterLO {
    display: flex;
    color: #63B6A2;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
}
.linksFooterLO {
    text-decoration: none;
}