.mainContainer {
    margin-top: 7%;
}
.container{
    padding: 10px;
    color: #B69E3C;
}
.settingsButton {
    background-color: rgb(181, 228, 228);
    color: #63B6A2;
    width: 120px;
    height: 80px;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    outline: none;
}
.settingsButton:hover {
    background-color: rgb(165, 245, 245);
    transition: 0.3s;
}